
.head{
    height: 100vh;

    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(8, 149, 102);
    color: white;
}
h3{

    position: relative;
padding-bottom: 20px;
 
}
h3::after{
    content: "";
   width: 110px;   
   position: absolute;
    height: 5px;
    left: 130%;
    top: 30%;
    background-color: rgb(255, 255, 255);
}

h3::before{
    content: "";
    position: absolute;
    width: 110px;
    height: 5px;
    right: 130%;
    top: 30%;
    bottom: 0;
    background-color: rgb(255, 255, 255);
}


 
 .box-vip{
display: flex ;
justify-content: center; 
} 