<section id="foot">


    <div class="container">
        <div class="row">
            <div class="col-md-4">
<div class="box d-flex flex-column text-center">
<h5 class="fw-bolder fs-4"> LOCATION</h5>
<span>2215 John Daniel Drive</span>
<span>Clark, MO 65243</span>
</div>

   </div>

   <div class="col-md-4">
    <div class="box d-flex flex-column text-center">
    <h5 class="fw-bolder fs-4"> AROUND THE WEB</h5>
    
   <div class="icons  ">
    <i class="fa-brands fa-facebook border rounded-5 mx-2 p-2"></i>
    <i class="fa-brands fa-twitter border rounded-5 mx-2 p-2"></i>
    <i class="fa-brands fa-linkedin border rounded-5 mx-2 p-2"></i>
    <i class="fa-solid fa-earth-americas border rounded-5 mx-2 p-2"></i>
   </div>
    </div>
    
       </div>



   <div class="col-md-4">
    <div class="box d-flex flex-column text-center">
    <h5 class="fw-bolder fs-4"> ABOUT FREELANCER</h5>
   <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
    
       </div>

      
        </div>
    </div>
</section>
